.navbar .animation{
	transition: all .5s ease 0s;
}
.navbar .labelText:nth-child(1){
	width: 100px;
}
.navbar .start-home, .labelText:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
.navbar .labelText:nth-child(2){
	width: 110px;
}
.navbar .labelText:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
.navbar .labelText:nth-child(3){
	width: 100px;
}
.navbar .labelText:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
.navbar .labelText:nth-child(4){
	width: 160px;
}
.navbar .labelText:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
.navbar .labelText:nth-child(5){
	width: 120px;
}
.navbar .labelText:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}
