
.modal {
    animation: modalAnimation 0.5s ease;
  }

@keyframes modalAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.smooth-scroll {
    scroll-behavior: smooth;
}
