@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("/public/styles/fonts/font.css");

/* Button css */
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.bg-transparent {
  background-color: "transparent";
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
